main{
    background-color: var(--gray);
    color: var(--white);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
main h2{
    text-transform: initial;
    margin: 1rem 0;
}
main form{
    width: 30rem;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 2rem;
    border: 2px solid var(--purple);
}
main form label{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--white);
}
main form input{
    width: 15rem;
    height: 2.5rem;
    background-color: var(--white);
    color: var(--purple);
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid var(--purple);
    border-radius: 0.5rem;
}
input[type="radio"]{
    appearance: radio;
}
.gender{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 1.4rem;
    padding: 1rem 7rem;
}
main form button{
    width: 7rem;
    height: 4rem;
    margin: 1rem 0 0.5rem;
    background-color: var(--purple);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
main form button:hover{
    width: 7.2rem;
    font-size: 1.3rem;
    transform: scaleY(0.9);
}
main form p{
    font-size: 1.5rem;
}
main form p a{
    font-size: 1.5rem;
    text-decoration: underline;
}
.error{
    width: 15rem;
    height: 5rem;
    background-color: var(--gray);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.error h2{
    font-size: 1.5rem;
    color: var(--white);
}